<%- include ../layouts/header.ejs %>
<div class="page"> 
<p>Zalogowano: <span><%= username %></span></p>
<p><%= message %></p>


<form method="POST">
    <p><label>Nazwa</label> <input type="text" name="product_name"></p>
    <p><label>ilosc</label> <input type="text" name="amount"></p>
    <p><label>opis</label> <input type="text" name="email"></p>
    <p><label>kategoria</label> <input type="text"name="phone"></p>
    <p><input type="submit" value="Utwórz"></p>
</form>

</div>

<%- include ../layouts/footer.ejs %>