<%- include ./layouts/header.ejs %>
<p><%= message %></p>
<form method="POST">
    <p><label for="login">Login: </label><input type="text" name="username" id="login"></p>
    <p><label for="password">Hasło: </label><input type="password" name="password" id="password"></p>
    <p ><input type="submit" value="Zaloguj"></p>
</form>
<%- include ./layouts/footer.ejs %>
